.button_GetStarted {
  border-style: solid;
  border-radius: 30px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  text-transform: uppercase;
}

.button_GetStarted:hover {
  cursor: pointer;
}
