#player_controls {
  background-color: black;
}

#playerText {
  white-space: nowrap;
  animation: scrolling 12s 0.2s linear infinite;
}

@keyframes scrolling {
  from {
    top: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
